<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://personinfo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>personinfo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PersonInfo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PersonInfo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ovp1cqz441.database.windows.net,1433;Initial Catalog=PersonInfo_db;User ID=PersonInfoDB@ovp1cqz441;Password=Hjwduke0614!" Name="Data Source=tcp:ovp1cqz441.database.windows.net,1433;Initial Catalog=PersonInfo_db;User Id=PersonInfoDB@ovp1cqz441;Password=Hjwduke0614!;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PersonInfo.Models.ApplicationDbContext, PersonInfo" MigrationConfiguration="PersonInfo.Migrations.Configuration, PersonInfo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ovp1cqz441.database.windows.net,1433;Initial Catalog=PersonInfo_db;User Id=PersonInfoDB@ovp1cqz441;Password=Hjwduke0614!;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>